@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 18px;
    background-color: #f1f1f1;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}


header > h1 {
    font-family: 'Shrikhand', cursive;
    margin: 0 auto;
    align-items: center; 
    padding: 30px 0px 30px 0px;
}

#back {
    margin-left: 20px;
    position: relative;
    color: black;
    font-size: 30px;
}

#delice_visual {
    width: 100%;
    height: 264px;
    background-image: url(photos/delice.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;  
}

#french_visual {
    width: 100%;
    height: 264px;
    background-image: url(photos/alafrench.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;  
}

#note_visual {
    width: 100%;
    height: 264px;
    background-image: url(photos/note.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;  
}

#palette_visual {
    width: 100%;
    height: 264px;
    background-image: url(photos/palette.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;  
}

/* .visual {
    width: 100%;
    height: 264px;
    background-image: url(photos/delice.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;  
} */

.content {

    border-top-left-radius: 50px;
}

#starters {
    margin-left: 0px; 
    margin-bottom: 0px;   
}

.entrees {
    /* padding-bottom: 30px; */
}

.entree_choice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resto_name {
    position: relative;
    display: flex;
    width: max-content;
    margin-top: 0px;
    font-family: 'Shrikhand', cursive;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.h1heart {
    display: flex;
    flex-direction: row;
}

.h1heart > .hearts {
    margin-top: 10px;
}

.plats > .title > .name {
    margin-left: 0px;
}

.entrees > .title > .underline {
    margin-top: 2px;
}

.title {
    width: max-content;
    margin-left: 20px;
    font-weight: 100;
    /* border-bottom: 2px solid #99E2D0; */
}

.entitled  {
    margin-left: 0px;
}

.name {
    width: max-content;
    margin-left: 0px;
    font-weight: 100;
    margin-bottom: 2px;
}

.underline {
    height: 3px;
    background-color: #99E2D0;
    width: 45px;
    margin-left: 0px;
}

.price {
    padding-right: 30px;
}

.upper {
    text-transform: uppercase;
}

.choix {
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(186, 182, 182);
    overflow: hidden;
    white-space: nowrap;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transform: scale(0);
    animation-duration: .6s;
    animation-name: popup;
}

@keyframes popup {
    0% {
    transform: scale(0);
    }

    100% {
    transform: scale(1);
    }
}

.hearts {
    position: absolute;
    right: 50px;
}

.coeur_vide {
    right: 10px;
    font-size: 35px;
    top: 20px;
    height: max-content;
    position: absolute;
}

.coeur_plein {
    right: 10px;
    top: 20px;
    height: max-content;
    position: absolute;
    font-size: 35px;
    opacity: 0;
    
}

.coeur_plein:hover {
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition-duration: .5s;
}

#delay1 {

}

#delay2 {
  animation-name: popup;
  animation-delay: .1s;  
}

#delay3 {
    animation-name: popup;
    animation-delay: .2s; 
}

#delay4 {
    animation-name: popup;
    animation-delay: .3s; 
}

#delay5 {
    animation-name: popup;
    animation-delay: .4s; 
}

#delay6 {
    animation-name: popup;
    animation-delay: .5s;
}

#delay7 {
    animation-name: popup;
    animation-delay: .6s;
}

#delay8 {
    animation-name: popup;
    animation-delay: .7s;
}

.desc {
    width: 100%;
    overflow-x: auto;
}

.check {
    position: relative;
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-right: -120px;
    transition-duration: .5s;
}


.choix:hover .check {
    margin-right: -1rem;   
}



.choix:hover .fa-check-circle {
    animation-name: rotation;
    animation-duration: .5s;
    animation-timing-function: ease;
}

@keyframes rotation {
    0% {
        transform: rotate(180deg); 
    }

    to {
        transform: rotate(0deg);
    }
}

.fa-check-circle {
    position: relative;
    font-size: 30px;
    color: white;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px; 
    margin-top: 10px;
    
} 


.dish {
    font: bold;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.compo  {
    margin-top: 5px;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow-x: auto;
    overflow: hidden;
}

.price  {
    margin-top: 5px;
}

.line2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}

.plats {
    /* padding-bottom: 30px; */
    background-color: #f1f1f1;
}

.plats_choice {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desserts {
    padding-bottom: 0px;
    background-color: #f1f1f1;
}

.desserts_choice {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    border: none;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, 40%, #9356DC);
    width: 250px;
    font-size: 18px;
    padding: 18px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;  
}

.order:hover {
    box-shadow: 0px 2px 16px rgb(40, 40, 40);
    transition-duration: .5s;
    opacity: .9;
}

.go {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}

footer {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(55, 55, 55);
    padding-top: 25px;
    padding-bottom: 40px;
}

.footer_content {
    padding-left: 25px;
}

.footer_content > .footer_title {
    width: 100%;
    margin-top: 0px;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    
}

.propose {
    width: 100%;
    margin-bottom: 7px;
} 

.partners {
    width: 100%;
     margin-top: 0px;
     margin-bottom: 7px;
 }

 .policies {
    width: 100%;
    margin-top: 0px;
 }

 .contact {
    width: 100%;
    margin-bottom: 0px;
 }

 .icone_footer {
    margin-right: 10px;
    font-size: 13px;
}

.contact {
    margin-bottom: 0px;
    margin-top: 7px;
}

.policies {
    margin-bottom: 0px;
    margin-top: 7px;
}

 @media (min-width: 1440px)  {
    
    main {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-column-gap: 30px;
        padding: 0 40px;
        justify-content: center;
        align-items: center;
        width: 94%;
    }

    .entrees > .title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .choix {
        overflow: hidden;
    }

    .entree_choice {
        margin-top: 30px;
    }


    .entrees {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .plats {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .desserts {
        display: flex;
        flex-direction: column;
        
    }

    .desserts_choice {
        /* margin-top: 0px; */
    }

    .entitled {
        /* margin-bottom: 30px; */

    }

 }  