@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 18px;
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


  .fadeIn {
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }


  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  .fadeOut {
    margin: 0 auto;
    background-color: hsla(0,0%,100%,.9);
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-delay: 3000ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }

  .load {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: -40px;
    margin-top: -50px;
  }

.lds-roller {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .lds-roller > div {
    animation: lds-roller 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #FF79DA, 40%, #9356DC);
    margin: -4px 0 0 -4px;
  }
  /* .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  } */
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }

  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }

  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }

  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }

  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }

  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }

  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }

  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }

  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }

  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }

  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }

  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }

  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }

  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }

  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
      
    }
    100% {
      transform: rotate(360deg);
      
    }
  }
  

.header {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    
}

.home {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ohmyfood {
    width: 45%;
}

.location  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;  
}

.location > .city {
    margin-left: 15px;
}

nav > h2 {
    margin-bottom: 3px;
    margin-top: 3px;
}

nav {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 25px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    display: flex;
    justify-content: space-between;
}

.hearts {
    position: relative;
}

.coeur_vide {
    right: 10px;
    font-size: 35px;
    top: 20px;
    height: max-content;
    position: absolute;

}

.coeur_plein {
    right: 10px;
    top: 20px;
    height: max-content;
    position: absolute;
    font-size: 35px;
    opacity: 0;
    
}


.hearts:hover .coeur_vide {
    opacity: 0;
    transition-duration: .5s;

}

.coeur_plein:hover {
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition-duration: .5s;
}

.intro_line1 {
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 100;
}

.intro_line2 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 100;
}


.explorer {
    text-decoration: none;
    border: none;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, 40%, #9356DC);
    width: 250px;
    font-size: 18px;
    padding: 18px;
    border-radius: 50px;
    margin-top: 30px;
    transition-duration: .5s;
}

.explorer:hover {
    box-shadow: 6px 5px 10px rgb(186, 186, 186);
    transition-duration: .5s;
    opacity: .9;
    cursor: pointer;
}

.instructions {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.function {
  bottom: 30px;
  width: 100%;
  padding-top: 25px;
  margin-left: 25px;
}

.function > h2 {
  margin-left: 15px;
}

.instructions > h2 {
  display: none;
}

 .steplist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.steptext {
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.steps {
    width: 80%;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    box-shadow: 0px 0px 20px rgb(213, 211, 211);
}


.steps:hover {
  background-color: #e8dcf7;
  transition-duration: .5s;
  cursor: pointer;
}

.steps:hover i {
  color: #9356DC;
}


.text {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.number {
    position: absolute;
    left: -20px;
    background-color: #9356DC;
    padding: 3px 8px;
    border-radius: 45px;
    color: white;
}

.foodspots  {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 50px;
}

.resto {
    margin-left: 25px;
}

.thick {
    font-weight: bold;
}

.thin {
    font-weight: 100;
}

.nouveau {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 6px;
    position: absolute;
    top: 3px;
    right: 20px;
}

.choice {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.palette {
    position: relative;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px rgb(186, 182, 182);
    margin-bottom: 20px;
}

.lanote {
    position: relative;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px rgb(186, 182, 182);
    margin-bottom: 20px;
}

.francaise {
    position: relative;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px rgb(186, 182, 182);
    margin-bottom: 20px;
}

.thick > span {
    text-transform: uppercase;
}

.delice {
    width: 90%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px rgb(186, 182, 182);
    margin-bottom: 20px;
}

.palette > .image {
    width: 100%;
    height: 100%;
    background-image: url(photos/palette.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.lanote > .image {
    width: 100%;
    height: 100%;
    background-image: url(photos/note.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.francaise > .image {
    width: 100%;
    height: 100%;
    background-image: url(photos/alafrench.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.delice > .image {
    width: 100%;
    height: 100%;
    background-image: url(photos/delice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.palette > .desc {
    padding-left: 15px;
    background-color: white; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.lanote > .desc {
    padding-left: 15px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.francaise > .desc {
    padding-left: 15px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.delice > .desc {
    padding-left: 15px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(55, 55, 55);
    
    padding-top: 25px;
    padding-bottom: 40px;
}

.footer_content {
    padding-left: 30px;
}

.footer_content > .footer_title {
    width: 100%;
    margin-top: 0px;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    
}

.propose {
    width: 100%;
    margin-bottom: 7px;
} 

.partners {
    width: 100%;
     margin-top: 0px;
     margin-bottom: 7px;
 }

 .policies {
    width: 100%;
    margin-top: 0px;
 }

 .contact {
    width: 100%;
    margin-bottom: 0px;
 }

 .icone_footer {
     margin-right: 10px;
     font-size: 14px;
 }

 @media screen and (min-width: 1000px) and (max-width: 1440px) {

    .steplist {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .steps {
        width: 70%;
    }
    
    .choice {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        width: 45%;
        position: relative;
    }

    .steps {
        width: 70%;
        margin: 50px 15px;
    }

    .steps:hover {
      color: #9356DC;
    }

    .steps:hover i {
      color: #9356DC;
    }

    .instructions > h2 {
      display: none;
    }

 }

 @media (min-width: 1440px) {

    .steplist {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .steps {
        width: 70%;
        margin: 50px 15px;
    }

    .instructions > h2 {
      display: none;
    }
    
    .choice {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        width: 45%;
        position: relative;
    }
 }